.Page {
  /* border-style: solid; */
  width: 700px;
  height: 800px;
  background: white;
  margin: auto;
  padding: 10px;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* MENU -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.Menu {
  /* border-style: solid; */
  text-align: right; /*justify text right*/
  width: 150px;
  padding: 12px;
  position: fixed;

  /* center div vertically */
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-family: garamond;
}

.vertical-menu {
  /* border-style: solid; */
  width: 200px; /* Set a width if you like */
  margin-left: -45px;
}

.vertical-menu a {
  background-color: white; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 16px;
}

.vertical-menu a:hover {
  background-color: white; /* Dark grey background on mouse-over */
  font-weight: bold;
}

.vertical-menu a.active {
  background-color: white; /* Add a green color to the "active/current" link */
  font-weight: bold;
  color: black;
}

.Contact {
  /* border-style: solid; */
}

.Contact a:link {
  color: black;
}

.Contact a:visited {
  color: black;
}

.Contact a + a {
  padding-left: 5px;
}

.Copyright {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: gray;
}

.fa:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.02) perspective(0px);
  transform: scale(1.02) perspective(0px);
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* PROJECT ----------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.Project {
  margin-left: 200px; /*Float Right*/
  height: 230px;
  width: 600px;
  padding: 24px;
  margin-bottom: 20px;
  /*border-style: solid;*/

  font-family: garamond;
  transition: .5s ease;
}

.Project:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.02) perspective(0px);
  transform: scale(1.02) perspective(0px);
}

.ProjectImage {
  height: 350px;
  width: auto;
}

.ProjectText {
  padding-left: 200px;
}

.Skill {
  min-width: 5px;
  padding: 8px; /* inside box */
  /* border: solid black 1px; */
  display: inline-block;
  border-radius: 5px; /* rounded corners */
  font-size: 14px;
  font-weight: bold;
}

.Bullet {
  min-width: 5px;
  /* border: solid black 1px; */
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.DemoLink {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

  /* aesthetics */
  border: solid black 1px;;
  transition: background-color .5s;
  padding: 10px;
  width: 90px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: Transparent;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);

  margin-right: 13px;
}

.DemoLink:hover {
  color: white;
  background-color: black;
}

.SourceLink {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

  /* aesthetics */
  border: solid black 1px;;
  transition: background-color .5s;
  padding: 10px;
  width: 90px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: Transparent;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  display: inline-block;

}

.SourceLink:hover {
  color: white;
  background-color: black;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ABOUT ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.AboutContainer {
  margin-left: 200px; /*Float Right*/
  height: 230px;
  width: 600px;
  padding: 24px;
  margin-bottom: 20px;
  /*border-style: solid;*/

  font-family: montserrat;
  transition: .5s ease;
}

.BioH2 {

}

.BioLine {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.BioP {
  font-family: garamond;
  font-size: 14pt;
}

.BioPMovie {
}

.Code, .Earth, .Movies, .Music {
  font-size: 30px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px #000000;
}

.Code:hover {
  color: black;
  /*
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 0px #000000; */
  background-color: #C6F4E0;
}

.Earth:hover {
  color: black;
  background-color: #CAEFF7;
}

.Movies:hover {
  color: black;
  background-color: #DEE2F7;
}

.Music:hover {
  color: black;
  background-color: #F7CACA;
}

.AboutPic {
  height: 500px;
  width: auto;
  opacity: 1;
  display: block;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.BioText {

}

.SpotifyLink {
  text-decoration: none;
  color: black;
}

