.Page {
  /* border-style: solid; */
  width: 650px;
  height: 800px;
  background: white;
  margin: auto;
  padding: 10px;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* MENU -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.Menu {
  /* border-style: solid; */
  text-align: right; /*justify text right*/
  width: 200px;
  padding: 12px;
  position: fixed;

  /* center div vertically */
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-menu {
  /* border-style: solid; */
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: white; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 16px;
}

.vertical-menu a:hover {
  background-color: white; /* Dark grey background on mouse-over */
  font-weight: bold;
}

.vertical-menu a.active {
  background-color: white; /* Add a green color to the "active/current" link */
  font-weight: bold;
  color: black;
}

.Contact {
  /* border-style: solid; */
}

.Contact a:link {
  color: black;
}

.Contact a:visited {
  color: black;
}

.Contact a + a {
  padding-left: 5px;
}

.Copyright {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: gray;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* PROJECT ----------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.Project {
  margin-left: 270px; /*Float Right*/
  height: 450px;
  width: 300px;
  padding: 24px;
}

.ProjectImage {
  opacity: 1;
  display: block;
  height: 500px;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: contain;
}

.ProjectText {
  height: 450px;
  width: 350px;
  padding: 24px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(0%, -90%);
  -ms-transform: translate(0%, 0%);
  text-align: left;
  width: 300px;
}

.Project:hover .ProjectImage {
  opacity: 0.1;
}

.Project:hover .ProjectText {
  opacity: 1;
}

.Skill {
  min-width: 5px;
  padding: 5px; /* inside box */
  border: 3px solid #e3c4a8;
  display: inline-block;
  border-radius: 5px; /* rounded corners */
  margin-right: 10px;
  font-size: 14px;
}

.DemoLink {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

  /* aesthetics */
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  width: 90px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #e3c4a8;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.SourceLink {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ABOUT ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.About {
  border-style: solid;
  margin-left: 270px; /*Float Right*/
  height: 450px;
  width: 300px;
  padding: 24px;
}

.Portrait {
  text-align: center;
}

.Portrait_Pic {
  border-radius: 50%;
  width: 200px;
}